<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="HH.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="HH.UserSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="DefaultConnection" connectionString="Server=SKINCOP\SQLEXPRESS;Database=Hotel;User Id=Ultimate;Password=Admin12345678!;"
   providerName="System.Data.SqlClient"/>
	</connectionStrings>
 <userSettings>
  <HH.Settings1>
   <setting name="Super" serializeAs="String">
    <value>Visible</value>
   </setting>
  </HH.Settings1>
  <HH.UserSetting>
   <setting name="Language" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="SuperVisible" serializeAs="String">
    <value>Collapsed</value>
   </setting>
   <setting name="Theme" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="Login" serializeAs="String">
    <value />
   </setting>
  </HH.UserSetting>
 </userSettings>
</configuration>